In [287]:
import pandas as pd
df = pd.read_csv('data/survey_results_public.csv')

In [252]:
pd.set_option('display.max_columns', 85)

In [253]:
df['ConvertedComp'].median()

57287.0

In [254]:
# it will look fot the columns which have numerical values and find the medium of it
df.median()

Respondent       44442.0
CompTotal        62000.0
ConvertedComp    57287.0
WorkWeekHrs         40.0
CodeRevHrs           4.0
Age                 29.0
dtype: float64

In [255]:
# return sum if a column is numeric

df['ConvertedComp'].sum()

7095702751.0

In [256]:
df['ConvertedComp'].max()

2000000.0

In [257]:
df['ConvertedComp'].mean()

127110.73842323056

In [258]:
# count wont include NaN 

df['ConvertedComp'].count()

55823

In [259]:
# return  how many yes and how many no

df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [260]:
# return how many people use social meida

df['SocialMedia'].value_counts()

Reddit                      14374
YouTube                     13830
WhatsApp                    13347
Facebook                    13178
Twitter                     11398
Instagram                    6261
I don't use social media     5554
LinkedIn                     4501
WeChat 微信                     667
Snapchat                      628
VK ВКонта́кте                 603
Weibo 新浪微博                     56
Youku Tudou 优酷                 21
Hello                          19
Name: SocialMedia, dtype: int64

In [261]:
# display value in percentage 

df['SocialMedia'].value_counts(normalize=True)

Reddit                      0.170233
YouTube                     0.163791
WhatsApp                    0.158071
Facebook                    0.156069
Twitter                     0.134988
Instagram                   0.074150
I don't use social media    0.065777
LinkedIn                    0.053306
WeChat 微信                   0.007899
Snapchat                    0.007437
VK ВКонта́кте               0.007141
Weibo 新浪微博                  0.000663
Youku Tudou 优酷              0.000249
Hello                       0.000225
Name: SocialMedia, dtype: float64

# groupby()

In [278]:
country_group = df.groupby(['Country'])
country_group

## get_group()

In [263]:
# put any country to filter out and see specific country data (it will list out all the column for the given country)

country_group.get_group('India').head(2)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
7,8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",NaN,"Developer, back-end;Engineer, site reliability",8,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...,Bash/Shell/PowerShell;C;C++;Elixir;Erlang;Go;P...,Cassandra;Elasticsearch;MongoDB;MySQL;Oracle;R...,Cassandra;DynamoDB;Elasticsearch;Firebase;Mong...,AWS;Docker;Heroku;Linux;MacOS;Slack,Android;Arduino;AWS;Docker;Google Cloud Platfo...,Express;Flask;React.js;Spring,Django;Express;Flask;React.js;Vue.js,Hadoop;Node.js;Pandas,Ansible;Apache Spark;Chef;Hadoop;Node.js;Panda...,Atom;IntelliJ;IPython / Jupyter;PyCharm;Visual...,Linux-based,Development;Testing;Production;Outside of work...,NaN,Useful across many domains and could change ma...,Yes,SIGH,Yes,YouTube,In real life (in person),Handle,2012,A few times per week,Find answers to specific questions;Learn how t...,Less than once per week,Stack Overflow was slightly faster,11-30 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","Yes, definitely",A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
9,10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,"10,000 or more employees",Data or business analyst;Data scientist or mac...,12,20,10,Slightly dissatisfied,Slightly dissatisfied,Somewhat confident,Yes,Yes,"I’m not actively looking, but I am open to new...",3-4 years ago,NaN,No,"Languages, frameworks, and other technologies ...",NaN,INR,Indian rupee,950000.0,Yearly,13293.0,70.0,There's no schedule or spec; I work on what se...,NaN,A few days each month,Home,Far above average,"Yes, because I see value in code review",4.0,"Yes, it's part of our process",NaN,NaN,C#;Go;JavaScript;Python;R;SQL,C#;Go;JavaScript;Kotlin;Python;R;SQL,Elasticsearch;MongoDB;Microsoft SQL Server;MyS...,Elasticsearch;MongoDB;Microsoft SQL Server,Linux;Windows,Android;Linux;Raspberry Pi;Windows,Angular/Angular.js;ASP.NET;Django;Express;Flas...,Angular/Angular.js;ASP.NET;Django;Express;Flas...,.NET;Node.js;Pandas;Torch/PyTorch,.NET;Node.js;TensorFlow;Torch/PyTorch,Android Studio;Eclipse;IPython / Jupyter;Notep...,Windows,NaN,Not at all,Useful for immutable record keeping outside of...,No,Yes,Yes,YouTube,Neither,Screen Name,NaN,Multiple times per day,Find answers to specific questions;Get a sense...,3-5 times per week,They were about the same,NaN,Yes,A few times per month or weekly,Yes,"No, and I don't know what those are","Yes, somewhat",Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult

In [264]:
# get specific column country wise

country_group['SocialMedia'].value_counts().head(20)

Country      SocialMedia
Afghanistan  Facebook                    15
             YouTube                      9
             I don't use social media     6
             WhatsApp                     4
             Instagram                    1
             LinkedIn                     1
             Twitter                      1
Albania      WhatsApp                    18
             Facebook                    16
             Instagram                   13
             YouTube                     10
             Twitter                      8
             LinkedIn                     7
             Reddit                       6
             I don't use social media     4
             Snapchat                     1
             WeChat 微信                    1
Algeria      YouTube                     42
             Facebook                    41
             Twitter                     14
Name: SocialMedia, dtype: int64

In [281]:
# get columns values for specific country

country_group['SocialMedia'].value_counts().loc['India']

SocialMedia
WhatsApp                    2990
YouTube                     1820
LinkedIn                     955
Facebook                     841
Instagram                    822
Twitter                      542
Reddit                       473
I don't use social media     250
Snapchat                      23
Hello                          5
WeChat 微信                      5
VK ВКонта́кте                  4
Youku Tudou 优酷                 2
Weibo 新浪微博                     1
Name: SocialMedia, dtype: int64

In [266]:
# find the mean for all country 

country_group['ConvertedComp'].median().head(10)

Country
Afghanistan              6222.0
Albania                 10818.0
Algeria                  7878.0
Andorra                160931.0
Angola                   7764.0
Antigua and Barbuda         NaN
Argentina               17760.0
Armenia                 19692.0
Australia               79783.0
Austria                 51559.0
Name: ConvertedComp, dtype: float64

In [267]:
# get mean only for specific country

country_group['ConvertedComp'].median().loc['India']

10080.0

## agg()

In [268]:
# in agg we can pass multiple aggregrate functions

country_group['ConvertedComp'].agg(['median', 'mean', 'sum'])

                                        median           mean        sum
Country
Afghanistan                             6222.0  101953.333333  1223440.0
Albania                                10818.0   21833.700000  1091685.0
Algeria                                 7878.0   34924.047619  1466810.0
Andorra                               160931.0  160931.000000   321862.0
Angola                                  7764.0    7764.000000     7764.0
...                                        ...            ...        ...
Venezuela, Bolivarian Republic of...    6384.0   14581.627907   627010.0
Viet Nam                               11892.0   17233.436782  1499309.0
Yemen                                  11940.0   16909.166667   101455.0
Zambia                                  5040.0   10075.375000    80603.0
Zimbabwe                               19200.0   34046.666667   510700.0

[179 rows x 3 columns]

In [269]:
# get aggregrate function country wise

country_group['ConvertedComp'].agg(['median', 'mean']).loc['India']

median    10080.000000
mean      28057.664916
Name: India, dtype: float64

In [270]:
country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [271]:
value_count = df['Country'].value_counts()
value_count

United States            20949
India                     9061
Germany                   5866
United Kingdom            5737
Canada                    3395
                         ...
Saint Kitts and Nevis        1
Timor-Leste                  1
Chad                         1
Niger                        1
Tonga                        1
Name: Country, Length: 179, dtype: int64

In [272]:
knows_python = country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
knows_python

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

## concat()

In [273]:
python_df = pd.concat([value_count, knows_python], axis=1, sort=False)
python_df.head(4)

                Country  LanguageWorkedWith
United States     20949               10083
India              9061                3105
Germany            5866                2451
United Kingdom     5737                2384

In [274]:
python_df.rename(columns={'Country': 'total_programmer', 'LanguageWorkedWith': 'knows_python'}, inplace=True)
python_df.head()

                total_programmer  knows_python
United States              20949         10083
India                       9061          3105
Germany                     5866          2451
United Kingdom              5737          2384
Canada                      3395          1558

In [275]:
python_df['total_percentage'] = (python_df['knows_python']/python_df['total_programmer'] ) * 100
python_df

                       total_programmer  knows_python  total_percentage
United States                     20949         10083         48.131176
India                              9061          3105         34.267741
Germany                            5866          2451         41.783157
United Kingdom                     5737          2384         41.554820
Canada                             3395          1558         45.891016
...                                 ...           ...               ...
Saint Kitts and Nevis                 1             0          0.000000
Timor-Leste                           1             1        100.000000
Chad                                  1             0          0.000000
Niger                                 1             1        100.000000
Tonga                                 1             0          0.000000

[179 rows x 3 columns]

In [276]:
python_df.sort_values('total_percentage', inplace=True)
python_df

,total_programmer,knows_python,total_percentage
Tonga,1,0,0.000000
Andorra,7,0,0.000000
Tajikistan,7,0,0.000000
Burkina Faso,4,0,0.000000
Lao People's Democratic Republic,3,0,0.000000
...,...,...,...
Turkmenistan,7,6,85.714286
Niger,1,1,100.000000
Dominica,1,1,100.000000
Sao Tome and Principe,1,1,100.000000
Timor-Leste,1,1,100.000000

In [277]:
a = python_df['total_programmer'].max()
a

20949